@import "mocha.css";

* {
  font-family: SpaceMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent */ 
  margin-left: 1rem;
}

#workspaces button {
  color: #DD9999;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #5F8787;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: #DD9999;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}

backlight {
  color: @yellow;
}

#backlight, #battery {
  border-radius: 0;
}

#pulseaudio {
  color: #5F8787;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
  background-color:  rgba(0, 0, 0, 0.8);
}

#custom-music {
  color: #5F8787;
  border-radius: 1rem;
  background-color:  rgba(0, 0, 0, 0.8);
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: #5F8787;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: #5F8787;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
