@import "colors.css";

* {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @background-darker;
  margin-left: 1rem;
  padding-right: 0.4rem;
}

#workspaces button {
  color: @yellow;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @purple;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @yellow;
  border-radius: 1rem;
}

window#waybar.empty #window {
  background: none;
}
#custom-temps,
#custom-weather,
#custom-music,
#tray,
#backlight,
#clock,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @background-darker;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#custom-temps {
  color: @yellow;
  border-radius: 1rem;
}

#custom-weather{
  color: @green;
}

#clock {
  color: @purple;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @purple;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @green;
  border-radius: 1rem;
}

#window {
  color: @yellow;
  border-radius: 1rem 1rem 1rem 1rem;
  background: @background-darker;
  margin: 5px;
  padding: 0.6rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @yellow;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @purple;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

