@import "themes/mocha.css";

* {
  border-radius: 0;
  font-family: SpaceMono Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @base;
  color: #fcfcfc;
  /*border: 2px solid @teal;*/
}

tooltip {
  background: @base;
}

#workspaces button {
  padding: 5px;
  color: @overlay1;
  margin-right: 5px;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button.focused {
  color: @text;
  background: @green;
}

#workspaces button.urgent {
  color: @mantle;
  background: @red;
}

#workspaces button:hover {
  color: @base;
  background: @mauve;
}

#mpris,
#window,
#clock,
#custom-notification,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray {
  padding: 0px 10px;
  margin: 3px 0px;
}

#mpris {
  color: @overlay1;
}
#pulseaudio,
#clock {
  color: @overlay1;
}
#custom-notification {
  color: @text;
  background: @base;
}

#tray {
 /* margin-right: 10px;*/
  color: @overlay1;
  background: transparent;
}

#workspaces {
  background: transparent;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#pulseaudio {
  min-width: 5px;
  color: @overlay1;
}

#window {
  color: @green;
  background: transparent;
  margin-left: 10px;
  margin-right: 60px;
}

window#waybar.empty  #window{
  margin: 0Px;
  padding: 0px;
  background-color: transparent;
}

#custom-notification {
  margin-right: 10px;
}
