window {
  background-color: rgba(40, 42, 54, 0.95); /* Dracula with 80% opacity */
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  border: 2px solid #44475a;
  background-color: transparent;
  color: #f8f8f2;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14pt;
  margin: 10px;
  padding: 20px;
  border-radius: 12px;
  transition: background-color 0.2s ease-in-out;
}

button:focus,
button:hover {
  background-color: #44475a;
}


#lock {
  background-image: image(url("icons/lock.svg"));
}

#logout {
  background-image: image(url("icons/logout.svg"));
}

#suspend {
  background-image: image(url("icons/suspend.svg"));
}

#hibernate {
  background-image: image(url("icons/hibernate.svg"));
}

#shutdown {
  background-image: image(url("icons/shutdown.svg"));
}

#reboot {
  background-image: image(url("icons/reboot.svg"));
}

